* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(21, 21, 48);
}

header {
  display: flex;
  justify-content: space-between;
  color: rgb(146, 118, 75);
  margin-top: -15px;
}

.name {
  margin-left: 15px;
  padding: 2px;
}

.nav {
  display: inline-flex;
  padding: 10px;
}

.nav h4 a {
  padding: 10px;
  margin-right: 5px;
  color: rgb(146, 118, 75);
  text-decoration: none;
}

i {
  padding: 10px;
  color: rgb(146, 118, 75);
  margin-top: 10px;
}

.ntag {
  color: rgb(115, 8, 187);
}

.lt {
  color: rgb(214, 157, 252);
}

main {
  padding: 50px;
  margin-left: 100px;
}

.uni {
  font-size: 50px;
  max-width: 690px;
  color: aqua;
  margin-top: 30px;
}

#study {
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: right;
}

.intro p {
  max-width: 600px;
  margin-right: 20px;
  font-size: 26px;
  font-weight: 700;
  color: blueviolet;
}

.intro h1 {
  margin-right: 400px;
  font-size: 40px;
  color: rgb(201, 135, 54);
}

hr {
  margin-right: 50px;
}
